<form #loginform="ngForm" class="container mt-5" (ngSubmit)="login()" style="float: left; width: 40%;">
    <h1>Login</h1>

    <div class="formgroup mb-3">
      <label for="username">Enter a username:</label><br>
      <input type="text" name="username" required [(ngModel)]="model.username" placeholder="Username" class="form-control mr-sm-2">
    </div>

    <div class="formgroup mb-3">
      <label for="password">Enter a password:</label>
      <show-hide-password icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input type="password" name="password" required [(ngModel)]="model.password" placeholder="Password">
      </show-hide-password>
      <a href="#">Forget password?</a>
    </div>

    <div class="formgroup">
        <button class="btn btn-success mr-2" [disabled]="!loginform.valid" type="submit">Login</button>
    </div>
</form>